body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, rgba(31, 21, 90, 1), rgb(146, 10, 44));
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
nav{
    background-color: rgba(255, 255, 255, 0.518);;
    height: 50px;
    padding-top: 15px;
}
nav ul{
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
}
nav a:hover{
    color: rgb(64, 62, 62);
}
.me{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 100px;
    box-shadow: 5px 5px 30px rgb(0, 0, 0);
}
.my_name{
    font-size: 70px;
}
.flex_container{
    display: flex;
    justify-content: space-around;
}
#contacts{
    background: linear-gradient(to top left, rgba(31, 21, 90, 1), rgb(146, 10, 44));
    box-shadow: 5px 10px 50px rgb(0, 0, 0);
    padding-left: 25px;
    padding-bottom: 35px;
    margin-left: 20px;
    margin-right: 70px;
    padding-right: 20px;
}
#contacts h2{
    font-size: 45px;
}
#contacts ul{
    list-style-type: none;
    padding-left: 0;
    font-size: 30px;
    font-weight: 500;
}
#contacts li{
    margin-bottom: 20px;
    line-height: 40px;
}
#about_me{
    padding-right: 70px;
}
#about_me h2{
    font-size: 45px;
}
#about_me p{
    font-size: 30px;
    font-weight: 500;
}
#skills h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}
#skills ul{
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
#skills li{
    display: flex;    
    align-items: center;
}
#skills img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
#code_ex h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
code{
    display: block;
    background-color: rgba(255, 255, 255, 0.518);
    font-size: 30px;
    color: black;
    margin: auto;
    border-radius: 10px;
    width: 1000px;
    padding: 10px 0 2px;
    box-shadow: 5px 5px 50px rgb(0, 0, 0);
    padding-left: 50px;
}
#languages h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}
#languages ul{
    list-style-type: none;
    font-size: 45px;
    font-weight: 500;
    padding-left: 300px;
}
#languages li{
    margin-bottom: 20px;
}
footer{
    background-color: rgba(255, 255, 255, 0.518);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    color: black;
}